@import '../../../styles/media.scss';
.board {
  transition: 0.5s all;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
  overflow: hidden;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @include mobile {
    zoom: 1.5;
  }
}

.userImage {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 12px;
}

.userInfo {
  display: flex;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.auctionInfo {
  margin-left: 1rem;
  & > p {
    font-size: 1.6rem;
  }

  & > div {
    padding: 0.5rem 0;
    color: #818181;
  }

  & > strong {
    & > span {
      font-weight: 700;
    }
  }
}

.profile {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: clamp(15px, 30px, 45px);
  height: clamp(15px, 30px, 45px);
}

.boardTime {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0, 0, 0, 0.5);
}
