@import '../../../styles/media.scss';

.slider {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate(-50%);
    transition: all 0.5s ease;
  }

  .slide img {
    height: 100%;
    object-fit: cover;
  }

  .current {
    opacity: 1;
    transform: translateX(0);
  }

  .current .content {
    opacity: 1;
  }

  .arrow {
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: black;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 1rem;
  }

  .arrow:hover {
    background: white;
  }

  .next {
    right: 4.5rem;
    color: black;
  }

  .prev {
    left: 4.5rem;
    color: black;
  }
}
