@import '../../../styles/media.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  font-size: 1.5rem;
  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
    margin: 0.5rem;
    cursor: pointer;

    &:hover > a {
      background-color: #3d4a5c;
      border-radius: 100%;
      color: white;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.selected {
      border-radius: 100%;
      color: white;
      background-color: #3d4a5c;
    }
  }
  @include mobile {
    zoom: 1.5;
  }
}
