@import '../../../styles/media.scss';

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.emptyBox {
  position: relative;
  width: 55rem;
  height: 55rem;
}
