@import '../../../styles/media.scss';

.productInfoImageAndName {
  font-size: 1.6rem;
  color: var(--basic-text-color);
  position: relative;
  width: 100%;
  height: 50rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  p {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.productInfoDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  color: var(--basic-text-color);

  & > p:nth-of-type(1) {
    color: #868b94;
  }
}

.profileBox {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  & > div > p > span {
    color: black;
    margin-left: 1rem;
  }
  margin-bottom: 1rem;
}
.profile {
  position: relative;
  width: 4rem;
  height: 4rem;
  min-width: 20px;
  min-height: 20px;
}

.introduce {
  min-height: 200px;
  border-bottom: 1px solid #e9ecef;
}

.like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  cursor: pointer;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    background-color: var(--main-color);
    min-width: 100px;
    min-height: 100px;
    padding: 2rem;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 부분 */
  }

  & > p {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 2.5rem;
  }
}

.auctionParticipateButton {
  background-color: var(--main-color);
  color: white;
  width: 18rem;
  height: 5rem;
  border-radius: 5px;
  margin: 0 auto;
  border: none;
  font-size: 1.6rem;
  margin-top: 5rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.writeInform {
  font-weight: 700;
  font-size: 2.3rem;
  color: var(--main-color);
  margin: 2rem 0;
}

.dataName {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.catagory {
  margin-bottom: 1rem;
}
