@import '../../../styles/media.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  font-size: 1.5rem;

  & > button {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  & > ul {
    display: flex;
    align-items: center;

    & > li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      font-weight: 700;
      margin: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--main-color);
        border-radius: 100%;
        color: white;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @include mobile {
      zoom: 1.5;
    }
  }
}

.activePage {
  border-radius: 100%;
  background-color: var(--main-color);
  color: white;
}
