@import '../../../styles/media.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  font-size: 1.5rem;

  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
    margin: 0.5rem;
    cursor: pointer;

    &:hover > a {
      background-color: #3d4a5c;
      border-radius: 100%;
      color: white;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > li:nth-child(1) {
      & > a {
        background-color: #3d4a5c;
        border-radius: 100%;
        color: white;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .selected {
  }
  @include mobile {
    zoom: 1.5;
  }
}

.activePage {
  border-radius: 100%;
  background-color: #3d4a5c;
  & > a {
    color: white;
  }
}

.Pagination_pagination__cjT7I {
  & > li:nth-child(2) {
    border-radius: 100%;
    background-color: #3d4a5c;
    & > a {
      color: white;
    }
  }
}
